In [5]:
import pandas as pd
import gzip
import pickle

#fname='sodapopskus.txt_transactions_timeunit_week_cache_13skus.pkl4'
#fname='sodapopskus.txt_transactions_timeunit_week_cache.pkl4 1.40.08 PM'
fname='sodapopskus.txt_transactions_timeunit_week_cache.pkl4 1.51.25 PM'
df=pickle.load(gzip.open(fname, 'rb'))

In [6]:
df.head(10)

      custid ordqty  product_sku  orddate_index
0  1064212.0      1      10201.0            313
1  1064212.0      1      10201.0            313
2  1064212.0      1      10201.0            313
3      728.0      1      10201.0            293
4  6237182.0      1      10201.0            334
5  8281455.0      1      10201.0            310
6  3221056.0      1      10201.0            323
7  3221056.0      1      10201.0            323
8  3946135.0      1      10201.0            403
9  1977178.0      1      10201.0            397

In [8]:
import numpy as np
skusdesired=np.array([140363, 83092, 64330, 137538])
relevant=np.in1d(df['product_sku'], skusdesired)
pickle.dump(df.loc[relevant,:], gzip.open('sodapopskus.txt_transactions_timeunit_week_cache.pkl4', 'wb'), -1)